
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #c3c3c3;
}


main {
    padding: 20px;
    margin: 20px 0;
}


section {
    margin-bottom: 20px;
}


footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}

footer p {
    margin: 0;
}


.writeup-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.writeup-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.writeup-item img {
    width: 100%;
    height: auto;
    display: block;
}

.writeup-item p {
    margin: 10px;
}
